// ww helper classes sass version 1.01

// IMPORT COLORS

@import 'colors.sass'

// ***************************************** MIXINS
@mixin radius
	border-radius: 4px
	
@mixin transition
	transition: 0.4s
	
@mixin transition-long
	transition: 1.2s
	
@mixin reset
	margin: 0
	padding: 0
	box-sizing: border-box
	
@mixin box-shadow
	box-shadow: 	3px 3px 10px rgba(0,0,0,0.6)
	
@mixin lg
	@media only screen and (max-width: 1200px)
		@content			
	
@mixin md
	@media only screen and (max-width: 992px)
		@content		
		
@mixin sm
	@media only screen and (max-width: 768px)
		@content
		
@mixin xs
	@media only screen and (max-width: 576px)
		@content			
		

			
	
// ********************************************* HELPER CLASSES	

.desktop-lg
	display: block
	@include lg
		display: none
		
.desktop-md
	display: block
	@include md
		display: none		

.mobile-lg
	display: none
	@include lg
		display: block
		
.mobile-md
	display: none
	@include md
		display: block		
		
.text-left
	text-align: left
	*
		margin-right: 0
	
.text-right
	text-align: right
	*
		margin-left: 0	
		
.m-text-left
	@include md
		text-align: left !important
		*
			margin-right: 0 !important			
	
.text-center
	text-align: center
	
.color-light
	color: $light
	*
		color: $light
	a:hover
		color: darken($light,20%)
		
.color-primary
	color: $primary
	*
		color: $primary
	a:hover
		color: darken($primary,20%)	
		
.color-light
	color: $light

.color-black		
	color: black
	
.background-primary
	background: $primary
	border-color: $primary
		
.background-secondary
	background: $secondary
	border-color: $secondary
	
.background-light
	background: $light
	border-color: $light	
	
.background-lightgrey
	background: $lightgrey
	border-color: $lightgrey

.color-light
	color: $light
.color-black
	color: black
.color-primary
	color: $primary
.color-secondary
	color: $secondary
	
.border-top
	border-top: 3px solid $border

.border-bottom
	border-bottom: 3px solid $border
	
.border-right
	border-right: 3px solid $border
	
.border-left
	border-left: 3px solid $border	
	
.border
	border: 2px solid $border !important		
		
.col-primary
	color: $primary
	
.d-inline-block
	display: inline-block	
	
.d-block
	display: block	
	
.reset
	@include reset	


	

		
.float-left
	float: left	
	
.float-right
	float: right		
	
.clear
	clear: both	
		
.btn
	display: inline-block
	padding: 6px 15px
	border: none
	@include radius
	text-transform: uppercase
	@include transition
	cursor: pointer
	&.with-icon
		text-align: left
		padding: 13px 33px 14px 52px
		position: relative
		&::before
			position: absolute
			top: 12px
			margin-left: -30px
			width: 22px
			height: 20px
			background-size: 20px
			background-position: center
			background-repeat: no-repeat
			content: ''	
	&.btn-primary
		background: $primary
		color: $light
		&:hover
			background: darken($secondary, 10%)	
	&.btn-lightgrey
		background: $lightgrey
		color: $secondary
		&:hover
			background: darken($lightgrey,10%)
	&.btn-secondary
		background: $secondary
		color: $light
		&:hover
			background: darken($secondary,10%)			
			
.button-container
	padding: 0 0 25px
	&.horizontal
		.btn,button,a,span,input
			display: inline-block
			width: auto
		&.text-right
			.btn,button,a,span,input
				margin: 0
				margin-left: 5px
				@include md
					margin: 10px 0
		&.text-left
			.btn,button,a,span,input
				margin: 0
				margin-right: 5px
				@include md
					margin: 10px 0		
					
button
	@include reset
	background: 	transparent
	border: none								
					
hr
	border: none
	border-bottom: 3px solid $border
hr.thin
	border: none
	border-bottom: 1px solid $border
hr.thick
	border: none
	border-bottom: 5px solid $border		
	
.hide
	@include reset
	position: relative
	z-index: -99
	max-height: 0
	opacity: 0
	@include transition

.hidden
	display: none
	
.vertical-align
	*
		display: inline-block
		width: 100%
.horizontal-align
	*
		display: inline-block
		width: auto
		
img
	max-width: 100%
	
.square-box
	position: relative
	width: 100%
	padding-bottom: 100%
	> *
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.image
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	&.contain
		background-size: contain
	
.round
	border-radius: 50%	
	
.with-info-button
	&.right
		padding-right: 120px
					
					
// INFO / TOOLTIP					
.show-tooltip
	cursor: pointer
	.info,
	.tooltip
		transform: scale(0)
		transform-origin: top left
		transition: 0.2s
	&:hover
		.info,
		.tooltip	
			transition-delay: 0.5s
			transform: scale(1)		
