/* line 46, ../sass/helper-classes.sass */
.desktop-lg {
  display: block;
}
@media only screen and (max-width: 1200px) {
  /* line 46, ../sass/helper-classes.sass */
  .desktop-lg {
    display: none;
  }
}

/* line 51, ../sass/helper-classes.sass */
.desktop-md {
  display: block;
}
@media only screen and (max-width: 992px) {
  /* line 51, ../sass/helper-classes.sass */
  .desktop-md {
    display: none;
  }
}

/* line 56, ../sass/helper-classes.sass */
.mobile-lg {
  display: none;
}
@media only screen and (max-width: 1200px) {
  /* line 56, ../sass/helper-classes.sass */
  .mobile-lg {
    display: block;
  }
}

/* line 61, ../sass/helper-classes.sass */
.mobile-md {
  display: none;
}
@media only screen and (max-width: 992px) {
  /* line 61, ../sass/helper-classes.sass */
  .mobile-md {
    display: block;
  }
}

/* line 66, ../sass/helper-classes.sass */
.text-left {
  text-align: left;
}
/* line 68, ../sass/helper-classes.sass */
.text-left * {
  margin-right: 0;
}

/* line 71, ../sass/helper-classes.sass */
.text-right {
  text-align: right;
}
/* line 73, ../sass/helper-classes.sass */
.text-right * {
  margin-left: 0;
}

@media only screen and (max-width: 992px) {
  /* line 76, ../sass/helper-classes.sass */
  .m-text-left {
    text-align: left !important;
  }
  /* line 79, ../sass/helper-classes.sass */
  .m-text-left * {
    margin-right: 0 !important;
  }
}

/* line 82, ../sass/helper-classes.sass */
.text-center {
  text-align: center;
}

/* line 85, ../sass/helper-classes.sass */
.color-light {
  color: #fff;
}
/* line 87, ../sass/helper-classes.sass */
.color-light * {
  color: #fff;
}
/* line 89, ../sass/helper-classes.sass */
.color-light a:hover {
  color: #cccccc;
}

/* line 92, ../sass/helper-classes.sass */
.color-primary {
  color: #5580b7;
}
/* line 94, ../sass/helper-classes.sass */
.color-primary * {
  color: #5580b7;
}
/* line 96, ../sass/helper-classes.sass */
.color-primary a:hover {
  color: #314f75;
}

/* line 99, ../sass/helper-classes.sass */
.color-light {
  color: #fff;
}

/* line 102, ../sass/helper-classes.sass */
.color-black {
  color: black;
}

/* line 105, ../sass/helper-classes.sass */
.background-primary {
  background: #5580b7;
  border-color: #5580b7;
}

/* line 109, ../sass/helper-classes.sass */
.background-secondary {
  background: #666;
  border-color: #666;
}

/* line 113, ../sass/helper-classes.sass */
.background-light {
  background: #fff;
  border-color: #fff;
}

/* line 117, ../sass/helper-classes.sass */
.background-lightgrey {
  background: #bbb;
  border-color: #bbb;
}

/* line 121, ../sass/helper-classes.sass */
.color-light {
  color: #fff;
}

/* line 123, ../sass/helper-classes.sass */
.color-black {
  color: black;
}

/* line 125, ../sass/helper-classes.sass */
.color-primary {
  color: #5580b7;
}

/* line 127, ../sass/helper-classes.sass */
.color-secondary {
  color: #666;
}

/* line 130, ../sass/helper-classes.sass */
.border-top {
  border-top: 3px solid #e5e5e5;
}

/* line 133, ../sass/helper-classes.sass */
.border-bottom {
  border-bottom: 3px solid #e5e5e5;
}

/* line 136, ../sass/helper-classes.sass */
.border-right {
  border-right: 3px solid #e5e5e5;
}

/* line 139, ../sass/helper-classes.sass */
.border-left {
  border-left: 3px solid #e5e5e5;
}

/* line 142, ../sass/helper-classes.sass */
.border {
  border: 2px solid #e5e5e5 !important;
}

/* line 145, ../sass/helper-classes.sass */
.col-primary {
  color: #5580b7;
}

/* line 148, ../sass/helper-classes.sass */
.d-inline-block {
  display: inline-block;
}

/* line 151, ../sass/helper-classes.sass */
.d-block {
  display: block;
}

/* line 154, ../sass/helper-classes.sass */
.reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 161, ../sass/helper-classes.sass */
.float-left {
  float: left;
}

/* line 164, ../sass/helper-classes.sass */
.float-right {
  float: right;
}

/* line 167, ../sass/helper-classes.sass */
.clear {
  clear: both;
}

/* line 170, ../sass/helper-classes.sass */
.btn {
  display: inline-block;
  padding: 6px 15px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  transition: 0.4s;
  cursor: pointer;
}
/* line 178, ../sass/helper-classes.sass */
.btn.with-icon {
  text-align: left;
  padding: 13px 33px 14px 52px;
  position: relative;
}
/* line 182, ../sass/helper-classes.sass */
.btn.with-icon::before {
  position: absolute;
  top: 12px;
  margin-left: -30px;
  width: 22px;
  height: 20px;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}
/* line 192, ../sass/helper-classes.sass */
.btn.btn-primary {
  background: #5580b7;
  color: #fff;
}
/* line 195, ../sass/helper-classes.sass */
.btn.btn-primary:hover {
  background: #4d4d4d;
}
/* line 197, ../sass/helper-classes.sass */
.btn.btn-lightgrey {
  background: #bbb;
  color: #666;
}
/* line 200, ../sass/helper-classes.sass */
.btn.btn-lightgrey:hover {
  background: #a2a2a2;
}
/* line 202, ../sass/helper-classes.sass */
.btn.btn-secondary {
  background: #666;
  color: #fff;
}
/* line 205, ../sass/helper-classes.sass */
.btn.btn-secondary:hover {
  background: #4d4d4d;
}

/* line 208, ../sass/helper-classes.sass */
.button-container {
  padding: 0 0 25px;
}
/* line 211, ../sass/helper-classes.sass */
.button-container.horizontal .btn, .button-container.horizontal button, .button-container.horizontal a, .button-container.horizontal span, .button-container.horizontal input {
  display: inline-block;
  width: auto;
}
/* line 215, ../sass/helper-classes.sass */
.button-container.horizontal.text-right .btn, .button-container.horizontal.text-right button, .button-container.horizontal.text-right a, .button-container.horizontal.text-right span, .button-container.horizontal.text-right input {
  margin: 0;
  margin-left: 5px;
}
@media only screen and (max-width: 992px) {
  /* line 215, ../sass/helper-classes.sass */
  .button-container.horizontal.text-right .btn, .button-container.horizontal.text-right button, .button-container.horizontal.text-right a, .button-container.horizontal.text-right span, .button-container.horizontal.text-right input {
    margin: 10px 0;
  }
}
/* line 221, ../sass/helper-classes.sass */
.button-container.horizontal.text-left .btn, .button-container.horizontal.text-left button, .button-container.horizontal.text-left a, .button-container.horizontal.text-left span, .button-container.horizontal.text-left input {
  margin: 0;
  margin-right: 5px;
}
@media only screen and (max-width: 992px) {
  /* line 221, ../sass/helper-classes.sass */
  .button-container.horizontal.text-left .btn, .button-container.horizontal.text-left button, .button-container.horizontal.text-left a, .button-container.horizontal.text-left span, .button-container.horizontal.text-left input {
    margin: 10px 0;
  }
}

/* line 227, ../sass/helper-classes.sass */
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
}

/* line 232, ../sass/helper-classes.sass */
hr {
  border: none;
  border-bottom: 3px solid #e5e5e5;
}

/* line 235, ../sass/helper-classes.sass */
hr.thin {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

/* line 238, ../sass/helper-classes.sass */
hr.thick {
  border: none;
  border-bottom: 5px solid #e5e5e5;
}

/* line 242, ../sass/helper-classes.sass */
.hide {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  z-index: -99;
  max-height: 0;
  opacity: 0;
  transition: 0.4s;
}

/* line 250, ../sass/helper-classes.sass */
.hidden {
  display: none;
}

/* line 254, ../sass/helper-classes.sass */
.vertical-align * {
  display: inline-block;
  width: 100%;
}

/* line 258, ../sass/helper-classes.sass */
.horizontal-align * {
  display: inline-block;
  width: auto;
}

/* line 262, ../sass/helper-classes.sass */
img {
  max-width: 100%;
}

/* line 265, ../sass/helper-classes.sass */
.square-box {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
/* line 269, ../sass/helper-classes.sass */
.square-box > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 276, ../sass/helper-classes.sass */
.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 280, ../sass/helper-classes.sass */
.image.contain {
  background-size: contain;
}

/* line 283, ../sass/helper-classes.sass */
.round {
  border-radius: 50%;
}

/* line 287, ../sass/helper-classes.sass */
.with-info-button.right {
  padding-right: 120px;
}

/* line 292, ../sass/helper-classes.sass */
.show-tooltip {
  cursor: pointer;
}
/* line 294, ../sass/helper-classes.sass */
.show-tooltip .info,
.show-tooltip .tooltip {
  transform: scale(0);
  transform-origin: top left;
  transition: 0.2s;
}
/* line 300, ../sass/helper-classes.sass */
.show-tooltip:hover .info,
.show-tooltip:hover .tooltip {
  transition-delay: 0.5s;
  transform: scale(1);
}

/* line 4, ../sass/screen.sass */
body {
  background: red;
}
